.nothing-found-page__section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 50px;
  }

  p {
    font-family: $common-text-font;
    font-weight: 400;
    font-size: 25px;
  }
}
