$heading-font: 'Josefin Sans', sans-serif;
$common-text-font: 'Lato', sans-serif;
$main-heading-font-color: #eeeed2;
$header-bg1: #5e5e5e;
$header-bg2: #1b1b1b;
$description-bg1: #2e0404;
$description-bg2: #100707;
